/* reglas
selectores
declaraciones
propiedades
valores */

body {
  background: grey;
  font-size: 40px ;
}

body header nav ul li a {
  font-size: 80px;
  color: white;
}

#elemento1 {
  color: green
}

/* selector de etiqueta header-body */
/* selector descendente body header nav ul li a  */
/* selector de clase .main_container se pueden multiplicar*/
/* selector de id #main_container son unicos*/